<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>News</title>
    <link href="" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url() }}/css/style.css">
    <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap/css/bootstrap.min.css">
    <script src="{{ base_url() }}/css/jquery-ui-1.12.1.custom/jquery-ui.min.css"></script>
    <link rel="stylesheet" href="{{ base_url() }}/css/bootstrap/css/jquery.dataTables.min.css">
</head>
<body>
<!--<script type="text/javascript">
    window.onbeforeunload = function (evt) {
        var message = "You will lost the changes if you leave the page.";
        if (typeof evt == "undefined") {
            evt = window.event;
        }
        if (evt) {
            evt.returnValue = message;
        }
        return message;
    }
</script>-->